<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 border border-secondary rounded">

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <a (click)="nodeSelected(node)">{{node.item}}</a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <!-- <mat-form-field>
            <input matInput #itemValue placeholder="New item...">
          </mat-form-field>
          <button mat-button (click)="saveNode(node, itemValue.value)">Save</button> -->
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <a (click)="nodeSelected(node)">{{node.item}}</a>
          <!-- <button mat-icon-button [disabled]="loadComponent" (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
          </button> -->
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="col-sm-10 border border-secondary rounded">
        <app-dashboard *ngIf="!loadComponent"></app-dashboard>
        <app-employee-details [empDetails]="itemToLoad" *ngIf="loadComponent"></app-employee-details>
    </div>
  </div>
</div>
